{% extends "base.html" %}
{% block title %}Editar Review{% endblock %}
{% block content %}
<h2>Editar review</h2>
<form method="POST">
    <div class="star-rating">
      <input type="radio" id="star5" name="stars" value="5" {% if review.stars == 5 %}checked{% endif %}><label for="star5">★</label>
      <input type="radio" id="star4" name="stars" value="4" {% if review.stars == 4 %}checked{% endif %}><label for="star4">★</label>
      <input type="radio" id="star3" name="stars" value="3" {% if review.stars == 3 %}checked{% endif %}><label for="star3">★</label>
      <input type="radio" id="star2" name="stars" value="2" {% if review.stars == 2 %}checked{% endif %}><label for="star2">★</label>
      <input type="radio" id="star1" name="stars" value="1" {% if review.stars == 1 %}checked{% endif %}><label for="star1">★</label>
    </div>
    <br>
    <textarea name="comment" rows="3" cols="40" required>{{ review.comment }}</textarea><br>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a href="{{ url_for('records.record_detail', record_id=review.record_id) }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}