<!DOCTYPE html>
<html>
<head>
    <title>Spinventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('records.list_vinyls') }}">Inicio</a>
            <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Registro</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>